<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Sidebar -->
<ul class="sidebar navbar-nav" th:fragment="sidebar">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
            <span>Home</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/report/blockreport}"
           th:if="${session.curUser.roles.contains('ROLE_ADMIN')}">
            <span>Report By Block</span></a>

        <a class="nav-link" th:href="@{/report/blockreport}"
           th:unless="${session.curUser.roles.contains('ROLE_USER')}">
            <span>Report By Block</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/report/entryreport}"
           th:if="${session.curUser.roles.contains('ROLE_ADMIN')}">
            <span>Report By Entry</span></a>

        <a class="nav-link" th:href="@{/report/entryreport}"
           th:unless="${session.curUser.roles.contains('ROLE_USER')}">
            <span>Report By Entry</span></a>

    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/attendance/list}"
           th:if="${session.curUser.roles.contains('ROLE_ADMIN')}">
            <span>TM Report</span></a>

        <a class="nav-link" th:href="@{/attendance/list}"
           th:unless="${session.curUser.roles.contains('ROLE_USER')}">
            <span>TM Report</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/student/attendance}">
            <span>Attendance Detail</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/process}"
           th:if="${session.curUser.roles.contains('ROLE_ADMIN')}">
            <span>Upload File</span></a>

    </li>
</ul>


</body>
</html>
