<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Sidebar -->
<ul class="sidebar navbar-nav" th:fragment="sidebar">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
            <span>Home</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{attendance/blockreport}">
            <span>Report By Block</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{attendance/entryreport}">
            <span>Report By Entry</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/attendance/tmchecking}">
            <span>TM Report</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/attendance/detail}">
            <span>Attendance Detail</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/process}">
            <span>Upload File</span></a>
    </li>
</ul>


</body>
</html>
