<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Upload File</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/sb-admin.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

</head>

<body>
<nav th:replace="~{fragments/header :: header}">Header</nav>
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{fragments/sidebar :: sidebar}">Sidebar</ul>

    <br/>
    <form th:action="@{/admin/upload}" method="POST" enctype="multipart/form-data"
          class="form-control-sm" role="form">
        <fieldset>
            <legend class="col-sm-9">Choose a file to upload data (100MB): </legend>
            <br/><br/>
            <div class="form-group">
                <div class="col-sm-9">
                    Upload File: <input type="file" name="mediation-file"/>
                    <br/>
                    <br>
                    <button class="btn btn-md btn-primary" type="Submit">Upload</button>
                </div>
            </div>
            <div class="form-group" th:if="${success != null}">
                <div class="col-sm-9">
                    <h3 th:if="${success}">File has been uploaded successfully!</h3>
                    <h3 th:if="${!success}">Error, file is not uploaded!</h3>
                </div>
            </div>
        </fieldset>
    </form>

    <!-- Sticky Footer -->
    <div th:replace="~{fragments/footer:: footer}">Footer</div>
</div>
</div>
<!-- /#wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
